html {
    background: white;
    font-size: 16px;
    display: flex;
    flex-direction: column;
}

body {
    height: 100%;   
}

header {
    background: red;
}

.navbar {
    background: green;
    display: flex;
    justify-content: center;
}

.navbar a {
    background: lightblue;
    height: 3rem;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
}

div {
    font-size: 1.5rem;
    justify-content: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

form {
    display: flex;
    flex-direction: column;
}

label {
    font-size: 2rem;
    display: flex;
}

input {
    font-size: 1.5rem;
    margin-bottom: 1rem;
}

.red {
    color: red;
    display: flex;
    flex-direction: row;
}

p {
    padding: 0;
    margin: 0;
}

.hint {
    display: flex;
    flex-direction: row;
    font-size: 1.5rem;
    margin-bottom: 1rem;
}