.secondTask {
    font-family: Arial;
    font-size: 2.5rem;
    padding: 0 1rem;
}

.secondTask > h2 {
    display: flex;
    justify-content: center;
}

.secondTask > p > a {
    text-decoration: none;
}

.secondTask .redText {
    color: red;
}

.secondTask .uppercaseText {
    text-transform: uppercase;
}

.secondTask .boldText {
    font-weight: bold;
}

.secondTask .throughText {
    text-decoration: line-through;
}