html {
    background: white;
    font-size: 16px;
    font-family: Roboto, sans-serif;
    display: flex;
    flex-direction: column;
}

body {
    width: 100%;
    height: 100%;   
}

header {
    background: red;
}

.navbar {
    background: green;
    display: flex;
    justify-content: center;
}

.navbar a {
    background: yellow;
    height: 3rem;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
}

div {
    font-size: 1.5rem;
}